body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1 {
    color: grey;
    font-family: verdana;
}
.parentdiv {
    display: flex;
    justify-content: center;
}
.maindiv {
    background-color: white;
    color: black;
    width: 450px;
    padding: 20px;
    border-radius: 25px;
    align: center;
}
.text-center {
    text-align: center;
}
.divspacing {
margin: 10px;
}
.highlighted {
    background: yellow;
}